{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}Blog{% endblock head_title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='{% static "css/base.css" %}' />
    <style media="screen">
    {% block style%}

    {% endblock style %}
    </style>
    {% block head_extra %} {% endblock head_extra %}
    </head>
    <body>
      <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        {% include "messages_display.html" %}
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand " href="{% url "posts:list" %}" style="color: black">Blog Home</a>
          </div>
          <ul class="nav navbar-nav">

            {% block post_detail_link %}

            {% endblock %}
            </ul>
             <ul class="nav navbar-nav navbar-right">
            {% if not request.user.is_authenticated %}

            <li><a href="{% url "register" %}"><span class="glyphicon glyphicon-user" style="color: black"></span> Sign Up</a></li>
            <li><a href="{% url "login" %}"><span class="glyphicon glyphicon-log-in" style="color: black"></span> Login</a></li>
            {% else %}
            <li><a href="{% url "logout" %}" style="color: black">Logout</a></li>
            {% endif %}
          </ul>

        </div>
      </nav>
      <hr/>

      {% block content%}

      {% endblock content %}
  </div>
  <script
    src="http://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>



  <script type="text/javascript">
    $(document).ready(function () {
      $(".content-markdown").each(function () {
        var content = $(this).text()
        var markedContent = marked(content)
        $(this).html(markedContent)
      })

      $(".post-detail-item img").each(function () {
        $(this).addClass("img-responsive");
      })

      // preview-title
      // preview-content

      var contentInput = $("#id_content");

      function setContent(value) {
        var markedContent = marked(value)
          $("#preview-content").html(markedContent)
          $("#preview-content img").each(function () {
            $(this).addClass("img-responsive")
          })
      }
      setContent(contentInput.val())

      contentInput.keyup(function() {
        var newContent = $(this).val()
        setContent(newContent)
      })

      var titleInput = $("#id_title");

      function setTitle(value) {
        $("#preview-title").text(value)
      }
      setTitle(titleInput.val())

      titleInput.keyup(function() {
        var newContent = $(this).val()
        setTitle(newContent)
      })

      $(".comment-reply-btn").click(function (event) {
        event.preventDefault();
        $(this).parent().next(".comment-reply").fadeToggle();
      })


     })
  </script>
  </body>
  <footer class="footer-distributed">

			<div class="footer-left">



				<p class="footer-company-name">Lalit Kumar &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p>IIIT Vadodara<span> Gandhinagar, Gujarat</span></p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+919712618438</p>
				</div>

				<div>
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<p><a href="mailto:lalitkumar.meena.lk@gmail.com">lalitkumar.meena.lk@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<strong style="font-size: 20px">About Myself</strong>
          <br/>
          <br/>
					I am a student of IIIT Vadodara, Gandhinagar, Gujarat. I believe that
          " ThE FutURe bElonGs to those who bElieve in thEir beAutiFul DREAMS....."
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/profile.php?id=100004428344426"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/lalitkumarmee10"><i class="fa fa-twitter"></i></a>
					<a href="https://www.linkedin.com/in/lalitmee/"><i class="fa fa-linkedin"></i></a>
					<a href="https://github.com/lalitmee"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>
</html>
