{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %} {{ block.super }}{% endblock head_title %}

<style media="screen">
{% block style%}

{% endblock style %}
</style>
</head>
<body>
  {% block content%}
  <div class="col-sm-8 col-sm-offset-2">

  <h1 class="head">{{ title }}</h1>
  <form class="row" action="" method="GET">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="input-group">
        <input class="form-control"
        type="text"
        placeholder="Search for the post"
        name="q" value="{{ request.GET.q }}">
        <span class="input-group-btn">
          <button class="btn btn-default"
          type="submit">Search <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        </span>
      </div>
      <hr/>
    </div>
  </form>

  {% for obj in objects_list %}
  <div class="row">
  <div class="col-sm-12 ">
    <div class="thumbnail">
      {% if obj.image %}
    <img src="{{ obj.image.url }}" class="img-responsive" alt="">
    {% endif %}
      <div class="caption post-detail-item">
        {% if obj.draft %}
        <h3>Staff Only : Draft</h3>
        {% endif %}
        {% if obj.publish > today %}
        <h3>Staff Only : Future Post</h3>
        {% endif %}
        <h1><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><small> {{ obj.publish }} </small>
          {% if obj.user.get_full_name %}
          <p>
            <small> Author : {{ obj.user.get_full_name }}</small>
          </p>
          {% endif %}
        </h1>  {{ obj.get_markdown | truncatechars_html:200 }}
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
    <hr>
  </div>
</div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?{{ page_request_var }}={{ objects_list.previous_page_number }}{% if request.GET.q %}
            &q={{ request.GET.q }} {% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?{{ page_request_var }}={{ objects_list.next_page_number }}{% if request.GET.q %}
            &q={{ request.GET.q }} {% endif %}">next</a>
        {% endif %}
    </span>
</div>
  </div>
  {% endblock content %}
