body {
  background: rgb(45, 184, 244);
}

.wmd-panel{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.comment-reply {
    display: none;
}

.navbar {
  font-family: 'Pacifico', cursive;
  font-size: 25px;
}

.navbar .navbar-brand {
  font-size: 30px;
}

h1{
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
}

p{
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}

.col-sm-10{
  background-color: white;
}

.head{
  font-size: 70px;
  text-align: center;
  color: rgb(235, 39, 97);
}
