{% extends "base.html" %}

{% load staticfiles %}

{% block head_title %} {{ block.super }}{% endblock head_title %}

<style media="screen">
{% block style%}

{% endblock style %}
</style>
</head>
<body>
  {% block content%}
  <div class="col-sm-8 col-sm-offset-2">

  <h1>{{ title }} of the Posts</h1>

  {% for obj in objects_list%}
  <div class="row">
  <div class="col-sm-12 ">
    <div class="thumbnail">
      {% if obj.image %}
    <img src="{{ obj.image.url }}" class="img-responsive" alt="">
    {% endif %}
      <div class="caption">
        <h3><a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><small> {{ obj.timestamp | timesince}} ago</small>
          {% if obj.user.get_full_name %}<p><small>Author : {{ obj.user.get_full_name }}</small></p> {% endif %}
        </h3><p>  {{ obj.content | linebreaks | truncatechars:120 }}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
    <hr>
  </div>
</div>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
        {% if objects_list.has_previous %}
            <a href="?{{ page_request_var }}={{ objects_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ objects_list.number }} of {{ objects_list.paginator.num_pages }}.
        </span>

        {% if objects_list.has_next %}
            <a href="?{{ page_request_var }}={{ objects_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
  </div>
  {% endblock content %}
